<!DOCTYPE html>
<html>

{{>head}}
<script src="/js/result.js"></script>
{{>header}}


<body>
  <div class="container">
    <div class="mx-auto">

    </div>
    <div id="result">
      <table id="versionTable">
        <thead>
          <tr>
            <td>Timeline</td>
            <td>Length / fps</td>
            <td>#Videoclips</td>
            <td>Dimensions</td>
            <td>Comments</td>
          </tr>
        </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    <div id="warning"></div>

  </div>



</body>