<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Welcome</title>
  {{!-- stylesheets --}}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

  {{!-- JavaScript and JQuery --}}
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>