header {
	font-family: 'Varela Round';
	margin-top: 16px;
	margin-bottom: 16px;
}

/* body {
	color: #333333;
	font-family: 'Varela Round';
	max-width: 650px;
	margin: 0px auto;
	padding: 16px 16px;
} */

h1 {
	color: #333333;
	font-family: 'Varela Round';
	font-weight: bold;
}

h3 {
	color: #333333;
	font-family: 'Varela Round';
}

footer {
	margin: 16px;
	border-top: 1px solid #eeeeee;
	padding-top: 16px;
	font-family: 'Varela Round';
}

body {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

form div {
	padding: 8px;
}

.form-submit {
	align-content: center;
}
/* 
thead {
	font-weight: bold;
} */

.form-style-6 {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #f7f7f7;
}
.form-style-6 h1 {
	background: #43d1af;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 input[type="file"] .form-style-6 textarea,
.form-style-6 select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
	box-shadow: 0 0 5px #43d1af;
	padding: 3%;
	border: 1px solid #43d1af;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43d1af;
	border-bottom: 2px solid #30c29e;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
	background: #2ebc99;
}

.form-style-6 p {
	padding: 20px 0;
	font-size: 100%;
	font-weight: 200;
	text-align: center;
	color: #000000;
	margin: -16px -16px 16px -16px;
}
